/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Times New Roman", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

.no-pointer {
    pointer-events: none;
    user-select: none;
}

.title {
    z-index: 3;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.title h2 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 0.88;
    transition: font-size 0.25s ease-in-out;
}

.title h1 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 0.88;
    transition: font-size 0.25s ease-in-out;
}

.container {
    width: 85%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container div {
    margin: 10px;
}

.nav-menu {
    border-top: 1.5px solid rgba(0, 0, 0, 0.75);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 100%;
}

.nav-item {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

.content img {
    width: 37.75%;
    border-radius: 15%;
    margin-bottom: 7.5px;
    transition: width 0.3s ease-in-out;
}

.content h4 {
    color: rgba(0, 0, 0, 0.75);
    margin: 0px auto;
    transition: width 0.2s ease-in-out;
    transition: font-size 0.2s ease-in-out;
}

.content h1, .content h2 {
    font-family: "Poppins", sans-serif;
    margin-top: 35px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 0.88;
    transition: font-size 0.25s ease-in-out;
}

.content h3 {
    max-width: 60%;
    margin: 2.5px auto;
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 0.88;
    transition: max-width 0.25s ease-in-out;
}

.glowing-red {
    text-shadow: 0 0 8.5px #B80104;
}

.content h5 {
    max-width: 47.75%;
    margin: 10px auto;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 0.88;
}

@media screen and (max-width: 1000px) {
    .title h2 {
        font-size: 2.5rem;
    }
    
    .title h1 {
        font-size: 1.1rem;
    }

    .content img {
        width: 56.625%;
    }
    .content h4 {
        max-width: 80%;
        font-size: 1.25rem;
    }

    .content h1, .content h2 {
        font-size: 2.5rem;
    }
    
    .content h3 {
        max-width: 100%;
        font-size: 1.55rem;
    }
}

@media screen and (max-width: 500px) {
    .content img {
        width: 80%;
    }
    .content h4 {
        max-width: 80%;
        font-size: 1.5rem;
    }
}