/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hide {
    opacity: var(--hide-opacity, 0);
    transition: var(--hide-transition, opacity 2s ease-in-out);
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

header ul {
    display: flex;
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

.no-pointer {
    pointer-events: auto;
    user-select: none;
}

.title {
    font-family: "Times New Roman", sans-serif;
    z-index: 3;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.title h2 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 0.88;
    transition: font-size 0.35s ease-in-out;
}

.title h1 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 0.88;
    transition: font-size 0.35s ease-in-out;
}

.container {
    width: 85%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav-menu {
    border-top: 1.5px solid rgba(0, 0, 0, 0.75);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-item {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    pointer-events: auto;
    user-select: none;
}

.content-divide {
    justify-content: center;
    display: flex;
    width: 100%;
}

.content-divide div {
    width: 90%;
}

.Introduction {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Introduction img {
    border-radius: 8px;
    width: 80%;
}

.Introduction h4 {
    margin: 5px auto;
    font-weight: 500;
    font-size: 1.1rem;
}

.Introduction h5 {
    max-width: 90%;
    margin: 5px auto;
    margin-bottom: 25px;
    font-weight: 500;
}

.feed {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.feed div {
    margin-top: 10px;
    margin-bottom: 5px;
}

.About-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1.5px solid rgba(184, 1, 3, 0.85);
    border-radius: 10px;
    padding: 5%;
    max-width: 100%;
    border-color: #B80104;
    box-shadow: 0 0 10px #cd0003;
    transition: box-shadow 0.3s ease;
}

.About-me h3 {
    align-self: flex-start;
}

.About-me img {
    max-width: 40%;
    border-radius: 40px;
}

.About-me h4 {
    text-shadow: 0 0 15px #B80104;
    transition: text-shadow 0.3s ease;
}

.About-me a {
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: #cd0003;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.content-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.Blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.Blog-post img {
    width: 100%;
    height: 100px;
    border-radius: 8px;
}

.Blog-post h4 {
    font-family: "Times New Roman", sans-serif;
    font-size: 1.05rem;
    margin-top: 7.5px;
    margin-bottom: 2.5px;
}

.Blog-post h5 {
    max-width: 80%;
    margin: 0 auto;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
}

.Blog-post button {
    max-width: 80%;
}

.Continue-Reading {
    width: 90%;
    display: flex;
    padding: 10px 20px;
    margin-top: 0;
    margin-bottom: 5%;
    margin-left: 5%;
    border: 1.5px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: auto;
    user-select: none;
    justify-content: center;
}

.Continue-Reading::before {
    content: "";
    background-image: var(--background-image, url('https://wallpapers.com/images/hd/anime-4k-pictures-q1cg89niv319ld1a.jpg'));
    filter: var(--before-filter, blur(2.5px));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-size: cover;
}

.Large-Blog {
    display: flex;
}

.Small-Blog {
    display: none;
}

@media screen and (max-width: 900px) {
    .container {
        padding: 10px;
        width: 90%;
    }

    .title h2 {
        font-size: 2.65rem;
    }
    .title h1 {
        font-size: 1.1rem;
    }

    .Introduction h4 {
        font-size: 1.45rem;
    }
    .Introduction img {
        width: 100%;
    }
    .Introduction h5 {
        max-width: 100%;
        font-size: 1.2rem;
    }

    .content-row {
        grid-template-columns: repeat(2, 1fr);
    }

    .feed {
        display: none;
    }
    .Large-Blog {
        display: none;
    }
    .Small-Blog {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0px;
        width: 100%;
    }

    .title h2 {
        font-size: 1.85rem;
    }
    .title h1 {
        font-size: 1rem;
    }

    .Introduction h4 {
        transition: font-size 0.35s ease-in-out;
        font-size: 1.25rem;
    }
    .Introduction img {
        width: 100%;
    }
    .Introduction h5 {
        transition: font-size 0.35s ease-in-out;
        font-size: 1rem;
    }

    .content-row {
        grid-template-columns: repeat(1, 1fr);
    }
}