/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Times New Roman", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

.no-pointer {
    pointer-events: none;
    user-select: none;
}

.title {
    font-family: "Times New Roman", sans-serif;
    z-index: 3;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h3 {
    font-weight: 800;
    font-size: 3rem;
    line-height: 0.88;
}

.title h2 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 0.88;
}

.title h1 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 0.88;
}

.container {
    width: 85%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container div {
    margin: 10px;
}

.nav-menu {
    border-top: 1.5px solid rgba(0, 0, 0, 0.75);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 100%;
}

.nav-item {
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

.nav-item:hover {
    color: rgba(0, 0, 0, 0.65);
}

.content img {
    width: 59%;
    border-radius: 15px;
}

.content h5 {
    font-family: "Poppins", sans-serif;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 0.88;
}

.content h3 {
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 0.88;
    max-width: 75%;
    margin: 10px auto;
}

.content h4 {
    font-family: "Poppins", sans-serif;
    margin-top: 2rem;
    font-weight: 500;
    font-size: 1.65rem;
    line-height: 0.88;
}

.content h2 {
    font-weight: 500;
    font-size: 1.35rem;
    line-height: 0.88;
    max-width: 65%;
    margin: 10px auto;
    margin-bottom: 2rem;
}
